<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 별칭 예시 -->
	<typeAliases>
 		<typeAlias type="com.idwith.mpweb.user.UserVO" alias="userVO"/>
 		<typeAlias type="com.idwith.mpweb.user.board.QnABoardVO" alias="qnaVO"/>
 	</typeAliases>
 	<mappers>
 		<mapper resource="mappings/user/board/userBoard-mapping.xml" />
 		<mapper resource="mappings/user/board/qnaBoard-mapping.xml" />
 		<!--  <mapper resource="mappings/admin/board/adminBoard-mapping.xml"/> -->
 		<!-- <mapper resource="mappings/writer/board/userBoard-mapping.xml"/> -->
 	</mappers>
</configuration>