<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 별칭 예시 -->
	<typeAliases>
 		<typeAlias type="com.idwith.mpweb.user.UserVO" alias="userVO"/>
 		<typeAlias type="com.idwith.mpweb.user.GoodsCategoryVO" alias="goodsCateVO"/>
 		<typeAlias type="com.idwith.mpweb.user.GoodsVO" alias="goodsVO"/>
 		<typeAlias type="com.idwith.mpweb.user.CartVO" alias="cartVO"/>
 		<typeAlias type="com.idwith.mpweb.user.SellerClassVO" alias="sellerClassVO"/>
 		<typeAlias type="com.idwith.mpweb.user.SellerStoryVO" alias="sellerStoryVO"/>
 		<typeAlias type="com.idwith.mpweb.user.SellerProductReviewVO" alias="sellerProductReviewVO"/>
 		<typeAlias type="com.idwith.mpweb.user.board.QnABoardVO" alias="qnaVO"/>
 		<typeAlias type="com.idwith.mpweb.user.board.EventBoardVO" alias="eventVO"/>
 		<typeAlias type="com.idwith.mpweb.user.board.UserMessageVO" alias="msgVO"/>
 		<typeAlias type="com.idwith.mpweb.user.UserSellerVO" alias="userSellerVO"/>
 		<typeAlias type="com.idwith.mpweb.admin.board.AdminQnABoardVO" alias="adminQnA"/>
 		<typeAlias type="com.idwith.mpweb.admin.board.AdminEventBoardVO" alias="adminEventVO"/>
 		<typeAlias type="com.idwith.mpweb.user.WatingVO" alias="watingVO"/>
 		<typeAlias type="com.idwith.mpweb.admin.ProposeVO" alias="proposeVO"/>
 		<typeAlias type="com.idwith.mpweb.admin.SellerVO" alias="sellerVO"/>
 		<typeAlias type="com.idwith.mpweb.admin.board.AdminNoticeBoardVO" alias="adminNotice"/>
 		<typeAlias type="com.idwith.mpweb.admin.UserListVO" alias="userList"/>
 		<typeAlias type="com.idwith.mpweb.admin.AdminVO" alias="adminVO"/>
 		<typeAlias type="com.idwith.mpweb.writer.WriterClassRegVO" alias="writerClassReg"/>
 		<typeAlias type="com.idwith.mpweb.writer.WriterClassOpenVO" alias="writerClassOpen"/>
 		<typeAlias type="com.idwith.mpweb.writer.storyboard.StoryBoardVO" alias="storyBoard"/>
 	</typeAliases>
 	<typeHandlers>
 		<typeHandler handler="org.apache.ibatis.type.ArrayTypeHandler" jdbcType="ARRAY" javaType="String"/>
 		<typeHandler handler="org.apache.ibatis.type.ArrayTypeHandler" jdbcType="ARRAY" javaType="Integer"/>
 	</typeHandlers>
 	<mappers>
 		<mapper resource="mappings/user/board/userBoard-mapping.xml" />
 		<mapper resource="mappings/user/category/goodsCategory-mapping.xml" />
 		<mapper resource="mappings/user/category/goods-mapping.xml" />
 		<mapper resource="mappings/user/board/qnaBoard-mapping.xml" />
 		<mapper resource="mappings/user/board/eventBoard-mapping.xml" />
 		<mapper resource="mappings/user/board/userMessage-mapping.xml" />
 		<mapper resource="mappings/user/board/cart-mapping.xml" />
 		<mapper resource="mappings/admin/board/adminQnABoard-mapping.xml"/>
 		<mapper resource="mappings/admin/board/adminEventBoard-mapping.xml"/>
 		<mapper resource="mappings/user/board/wating-mapping.xml" />
 		<mapper resource="mappings/user/board/sellerCheck-mapping.xml" />
 		<mapper resource="mappings/user/board/myPage-mapping.xml"/>
 		<mapper resource="mappings/user/board/userCategory-mapping.xml"/>
 		<mapper resource="mappings/admin/board/adminBoard-mapping.xml"/>
 		<mapper resource="mappings/admin/board/sellerEnrollment-mapping.xml"/>
 		<mapper resource="mappings/admin/board/adminNoticeBoard-mapping.xml"/>
 		<mapper resource="mappings/admin/management/adminUserList-mapping.xml"/>
 		<mapper resource="mappings/admin/board/adminLogin-mapping.xml"/>
 		<mapper resource="mappings/writer/reg/classReg-mapping.xml"/>
 		<mapper resource="mappings/writer/reg/classOpen-mapping.xml"/>
 		<mapper resource="mappings/writer/story/storyBoard-mapping.xml"/>
 		<!--  <mapper resource="mappings/admin/board/adminBoard-mapping.xml"/> -->
 		<!-- <mapper resource="mappings/writer/board/userBoard-mapping.xml"/> -->
 	</mappers>
</configuration>