.wrap {
	margin: 0 auto;
}

.head_banner_group {
	position: relative;
	width: 100%;
	height: auto;
}

.content {
	padding-bottom: 64px;
	background: rgb(255, 255, 255);
}

* {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	box-sizing: border-box;
	line-height: inherit;
}

.ui_title, .ui_title--bg, .ui_title--sub {
	box-sizing: border-box;
	display: table;
	table-layout: fixed;
	width: 100%;
	padding-top: 40px;
	margin-bottom: 24px;
	padding-bottom: 4px;
	border-bottom: 1px solid #d9d9d9;
}

.ui_btn--large {
	font-size: 16px;
	padding: 0 24px;
	line-height: 46px;
}

[data-page=main] .ui_title--bg:first-child {
	margin-top: 0;
}

[data-page=main] .ui_title--bg {
	margin: 24px 0 16px;
}

.ui_title--bg {
	padding: 15px 16px 14px;
	margin-top: 40px;
	background: #f2f2f2;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
}

[data-page=main] .ui_title--bg .ui_title__txt {
	font-size: 16px;
}

.ui_title--bg>*, .ui_title--sub>*, .ui_title>* {
	display: table-cell;
	vertical-align: middle;
}

.ui_title__txt {
	font-size: 24px;
	font-weight: 700;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 75%;
	color: #333;
	text-decoration: none;
}

.ui_title--bg .ui_title__txtright, .ui_title--bg .ui_title__txtright--blue
	{
	font-size: 14px;
	float: right;
}

.ui_grid, .ui_grid--spacing0, .ui_grid--spacing2, .ui_grid--spacing4,
	.ui_grid--spacing8 {
	position: relative;
	overflow: hidden;
}

.ui_grid:after, .ui_grid__cols--1:after, .ui_grid__cols--2:after,
	.ui_grid__cols--3:after, .ui_grid__cols--4:after, .ui_grid__item:after
	{
	content: '';
	display: block;
	clear: both;
}

.ui_grid--spacing0 .ui_grid__cols, .ui_grid--spacing0 .ui_grid__cols--2,
	.ui_grid--spacing0 .ui_grid__cols--3, .ui_grid--spacing0 .ui_grid__cols--4,
	.ui_grid--spacing0 .ui_grid__cols--5, .ui_grid--spacing0 .ui_grid__cols--6,
	.ui_grid--spacing0 .ui_grid__cols--7, .ui_grid--spacing0 .ui_grid__cols--8,
	.ui_grid--spacing2 .ui_grid__cols, .ui_grid--spacing2 .ui_grid__cols--2,
	.ui_grid--spacing2 .ui_grid__cols--3, .ui_grid--spacing2 .ui_grid__cols--4,
	.ui_grid--spacing2 .ui_grid__cols--5, .ui_grid--spacing2 .ui_grid__cols--6,
	.ui_grid--spacing2 .ui_grid__cols--7, .ui_grid--spacing2 .ui_grid__cols--8,
	.ui_grid--spacing4 .ui_grid__cols, .ui_grid--spacing4 .ui_grid__cols--2,
	.ui_grid--spacing4 .ui_grid__cols--3, .ui_grid--spacing4 .ui_grid__cols--4,
	.ui_grid--spacing4 .ui_grid__cols--5, .ui_grid--spacing4 .ui_grid__cols--6,
	.ui_grid--spacing4 .ui_grid__cols--7, .ui_grid--spacing4 .ui_grid__cols--8,
	.ui_grid--spacing8 .ui_grid__cols, .ui_grid--spacing8 .ui_grid__cols--2,
	.ui_grid--spacing8 .ui_grid__cols--3, .ui_grid--spacing8 .ui_grid__cols--4,
	.ui_grid--spacing8 .ui_grid__cols--5, .ui_grid--spacing8 .ui_grid__cols--6,
	.ui_grid--spacing8 .ui_grid__cols--7, .ui_grid--spacing8 .ui_grid__cols--8,
	.ui_grid .ui_grid__cols, .ui_grid .ui_grid__cols--2, .ui_grid .ui_grid__cols--3,
	.ui_grid .ui_grid__cols--4, .ui_grid .ui_grid__cols--5, .ui_grid .ui_grid__cols--6,
	.ui_grid .ui_grid__cols--7, .ui_grid .ui_grid__cols--8 {
	margin-top: -16px;
}

.ui_grid__cols--5>.ui_grid__item, .ui_grid__cols--5>.ui_grid__item--merge2, .ui_grid__cols--5>.ui_grid__item--merge3 {
    width: 20%;
}

.ui_grid__cols, .ui_grid__cols--2, .ui_grid__cols--3, .ui_grid__cols--4,
	.ui_grid__cols--5, .ui_grid__cols--6, .ui_grid__cols--7,
	.ui_grid__cols--8 {
	height: 100%;
	overflow: hidden;
}

.ui_grid__cols--5>.ui_grid__item, .ui_grid__cols--5>.ui_grid__item--merge2,
	.ui_grid__cols--5>.ui_grid__item--merge3 {
	width: 20%;
}

.ui_grid__cols--2>.ui_grid__item, .ui_grid__cols--3>.ui_grid__item, .ui_grid__cols--4>.ui_grid__item, .ui_grid__cols--4>.ui_grid__item--merge2, .ui_grid__cols--4>.ui_grid__item--merge3, .ui_grid__cols--5>.ui_grid__item, .ui_grid__cols--5>.ui_grid__item--merge2, .ui_grid__cols--5>.ui_grid__item--merge3, .ui_grid__cols--6>.ui_grid__item, .ui_grid__cols--7>.ui_grid__item, .ui_grid__cols--8>.ui_grid__item, .ui_grid__cols>.ui_grid__item {
    position: relative;
    float: left;
    width: 100%;
}

.ui_grid__cols--5>.ui_grid__item, .ui_grid__cols--5>.ui_grid__item--merge2, .ui_grid__cols--5>.ui_grid__item--merge3 {
    width: 20%;
}

.ui_grid__cols--2>.ui_grid__item, .ui_grid__cols--3>.ui_grid__item, .ui_grid__cols--4>.ui_grid__item, .ui_grid__cols--4>.ui_grid__item--merge2, .ui_grid__cols--4>.ui_grid__item--merge3, .ui_grid__cols--5>.ui_grid__item, .ui_grid__cols--5>.ui_grid__item--merge2, .ui_grid__cols--5>.ui_grid__item--merge3, .ui_grid__cols--6>.ui_grid__item, .ui_grid__cols--7>.ui_grid__item, .ui_grid__cols--8>.ui_grid__item, .ui_grid__cols>.ui_grid__item {
    position: relative;
    float: left;
}

.page-section>.ui_btn--large, .page-section>.ui_btn--custom {
	margin: 24px auto 0;
	display: block;
	width: 400px;
}

.ui_btn, .ui_btn--large, .ui_btn--mini, .ui_btn--red,
	.ui_btn--red--large, .ui_btn--red--mini, .ui_btn--red--small,
	.ui_btn--redline, .ui_btn--redline--large, .ui_btn--redline--mini,
	.ui_btn--redline--small, .ui_btn--small, .ui_field--onchange .ui_field__btn
	{
	box-shadow: 0 1px 3px 0 hsl(0deg 0% 86%/ 30%);
	font-weight: 400;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 2px;
	background: #fff;
	border: 1px solid #d9d9d9;
	vertical-align: middle;
	transition: background-color .2s cubic-bezier(.075, .82, .165, 1);
	transition: border-color .2s cubic-bezier(.075, .82, .165, 1);
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	color: #333;
	cursor: pointer;
}

.ui_card__overlay--left>.ui_card, .card-add-icon>.ui_card, .card-style-profile>.ui_card {
    width: 100%;
    display: block;
}

.sp-icon.icon-favorite {
    background-position: -685px -238px;
    width: 24px;
    padding-top: 24px;
}

.ui_card__overlay {
    z-index: 80;
}

.sp-icon {
    background-image: url(../images/sp/sp-icon_1626842591267.png);
    height: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    letter-spacing: 0;
}

.ui_card__overlay {
    top: 7px;
    right: 9px;
}

button {
    border: 0 none;
    background: transparent;
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    padding: 0;
    margin: 0;
}



div {
	display: block;
}

#main_visual {
	width: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

section {
	display: block;
}

.ui-slider.style-main, .style-main.ui-slider-fullbtn {
	position: relative;
	transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.ui-slider, .ui-slider-fullbtn {
	position: relative;
}

a, button, [tabindex], .tab, input {
	-webkit-tap-highlight-color: transparent;
}

.ui-slider .outer-frame, .ui-slider-fullbtn .outer-frame {
	overflow: hidden;
}

.ui-slider ul, .ui-slider-fullbtn ul, .ui-slider fieldset,
	.ui-slider-fullbtn fieldset {
	padding: 0px;
	margin: 0px;
	border: 0px none;
}

ol, ul {
	list-style: none;
}

ul {
	display: block;
	list-style-type: none;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

style attribute {
	touch-action: pan-y;
	user-select: none;
	-webkit-user-drag: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ui-slider.style-main .ui-slide, .style-main.ui-slider-fullbtn .ui-slide
	{
	width: 100%;
	height: 480px;
	position: relative;
}

.ui-slider .ui-slide:first-child, .ui-slider-fullbtn .ui-slide:first-child
	{
	display: block;
}

.ui-slider .ui-slide, .ui-slider-fullbtn .ui-slide {
	width: 1056px;
	float: left;
	display: none;
}

.ui-slider li, .ui-slider-fullbtn li {
	list-style: none;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.ui-slider.style-main .ui-control, .style-main.ui-slider-fullbtn .ui-control
	{
	margin-top: 0px;
}

.ui-slider .ui-control, .ui-slider-fullbtn .ui-control {
	display: none;
	border: 0px none;
	margin-top: 24px;
	text-align: center;
}

.ui-slider ul, .ui-slider-fullbtn ul, .ui-slider fieldset,
	.ui-slider-fullbtn fieldset {
	padding: 0px;
	margin: 0px;
	border: 0px none;
}

fieldset {
	display: block;
	margin-inline-start: 2px;
	margin-inline-end: 2px;
	padding-block-start: 0.35em;
	padding-inline-start: 0.75em;
	padding-inline-end: 0.75em;
	padding-block-end: 0.625em;
	min-inline-size: min-content;
	border: 0px none;
	border-width: 2px;
	border-style: groove;
	border-color: threedface;
	border-image: initial;
}

.ui-slider.style-main .ui-control .ui-btn:first-child, .style-main.ui-slider-fullbtn .ui-control .ui-btn:first-child
	{
	margin-left: -610px;
}

.ui-slider.style-main .ui-control .ui-btn, .style-main.ui-slider-fullbtn .ui-control .ui-btn
	{
	position: absolute;
	right: 30px;
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-left: 570px;
	margin-top: -20px;
	border: 0px none;
}

.ui-slider .ui-btn, .ui-slider-fullbtn .ui-btn {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	text-align: center;
	border: 2px solid rgb(222, 222, 222);
	border-radius: 4px;
}

.ui-slider .ui-control>*, .ui-slider-fullbtn .ui-control>* {
	display: inline-block;
	vertical-align: middle;
}

button {
	appearance: auto;
	-webkit-writing-mode: horizontal-tb !important;
	text-rendering: auto;
	color: -internal-light-dark(black, white);
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	cursor: default;
	background-color: -internal-light-dark(rgb(239, 239, 239),
		rgb(59, 59, 59));
	box-sizing: border-box;
	margin: 0em;
	font: 400 13.3333px Arial;
	padding: 1px 6px;
	border-width: 2px;
	border-style: outset;
	border-color: -internal-light-dark(rgb(118, 118, 118),
		rgb(133, 133, 133));
	border-image: initial;
}

.ui_card__img, .ui_card__imgcover {
    overflow: hidden;
}

.ui_card--flex-orientation a, .ui_card--side a, .ui_card--white a, .ui_card a {
    text-decoration: none;
}

.ui_card__img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: transform .5s ease-in-out;
}

.ui_card__img, .ui_card__imgcover {
    overflow: hidden;
}

.ui_card__info {
    padding: 8px 10px;
    height: 96px;
}

.ui_card__cost, .ui_card__label {
    display: block;
    width: 100%;
    height: 15px;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 4px;
}

.ui_card__title {
    color: #333;
    display: block;
    display: -webkit-box;
    height: 42px;
    font-size: 14px;
    line-height: 1.5;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui_card__rating {
    padding: 0 10px;
    border-top: 1px solid #d9d9d9;
    height: 56px;
    display: table;
    width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
}

.ui_card__vcenter {
    display: table-row;
    width: 100%;
    margin-bottom: 0;
    vertical-align: middle;
}

.ui_card__vcenter>* {
    display: table-cell;
    font-size: 12px;
    padding: 6px 0 4px;
}

.ui_card__img:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.ui_card__comment {
    color: #666;
    display: block;
    display: -webkit-box;
    height: 18px;
    font-size: 12px;
    line-height: 1.5;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-slider.style-main .ui-control .ui-btn i, .style-main.ui-slider-fullbtn .ui-control .ui-btn i
	{
	font-size: 30px;
	color: rgb(255, 255, 255);
	vertical-align: middle;
	transition: all 0.3s ease 0s;
	text-shadow: rgb(68, 68, 68) 0px 1px 1px;
}

.ui-slider .ui-btn i, .ui-slider-fullbtn .ui-btn i {
	display: inline-block;
	font-weight: bold;
	color: rgb(155, 155, 155);
	font-size: 10px;
	line-height: 16px;
}

.fa {
	font-family: FontAwesome !important;
}

.fa-2x {
	font-size: 2em;
}

.fa {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1;
	font-family: FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

i {
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-family: iconpack-idus !important;
}

.fa-chevron-left::before {
	content: "";
}

#main_visual .indicator {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	width: 50px;
	line-height: 20px;
	right: 50%;
	left: auto;
	margin-right: -530px;
	color: rgb(204, 204, 204);
}

.ui-slider.style-main .ui-control .indicator, .style-main.ui-slider-fullbtn .ui-control .indicator
	{
	position: absolute;
	width: 100%;
	margin: 0px auto;
	left: 0px;
	bottom: 20px;
}

.ui-slider .indicator, .ui-slider-fullbtn .indicator {
	display: inline-block;
	margin: 0px 16px;
}

.ui-slider .ui-control>*, .ui-slider-fullbtn .ui-control>* {
	display: inline-block;
	vertical-align: middle;
}

#main_visual .indicator .ui-paging-current {
	color: rgb(255, 255, 255);
}

.ui-slider.style-main .ui-control .ui-btn, .style-main.ui-slider-fullbtn .ui-control .ui-btn
	{
	position: absolute;
	right: 30px;
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-left: 570px;
	margin-top: -20px;
	border: 0px none;
}

.ui-slider .ui-btn, .ui-slider-fullbtn .ui-btn {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	text-align: center;
	border: 2px solid rgb(222, 222, 222);
	border-radius: 4px;
}

.ui-slider .ui-control>*, .ui-slider-fullbtn .ui-control>* {
	display: inline-block;
	vertical-align: middle;
}

.ui-slider.style-main .ui-control .ui-btn i, .style-main.ui-slider-fullbtn .ui-control .ui-btn i
	{
	font-size: 30px;
	color: rgb(255, 255, 255);
	vertical-align: middle;
	transition: all 0.3s ease 0s;
	text-shadow: rgb(68, 68, 68) 0px 1px 1px;
}

.ui-slider .ui-btn i, .ui-slider-fullbtn .ui-btn i {
	display: inline-block;
	font-weight: bold;
	color: rgb(155, 155, 155);
	font-size: 10px;
	line-height: 16px;
}

.fa-chevron-right::before {
	content: "";
}

.to-top {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    left: -webkit-calc(50% + 558px);
    left: -moz-calc(50% + 558px);
    left: calc(50% + 558px);
    z-index: 150;
    width: 56px;
    height: 56px;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #fff;
}

/* class index */
.ui_title__txtright, .ui_title__txtright--blue {
    text-align: right;
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

.ui_grid, .ui_grid--spacing0, .ui_grid--spacing2, .ui_grid--spacing4, .ui_grid--spacing8 {
    position: relative;
    overflow: hidden;
}

.ui_grid--spacing0 .ui_grid__cols, .ui_grid--spacing0 .ui_grid__cols--2, .ui_grid--spacing0 .ui_grid__cols--3, .ui_grid--spacing0 .ui_grid__cols--4, .ui_grid--spacing0 .ui_grid__cols--5, .ui_grid--spacing0 .ui_grid__cols--6, .ui_grid--spacing0 .ui_grid__cols--7, .ui_grid--spacing0 .ui_grid__cols--8, .ui_grid--spacing2 .ui_grid__cols, .ui_grid--spacing2 .ui_grid__cols--2, .ui_grid--spacing2 .ui_grid__cols--3, .ui_grid--spacing2 .ui_grid__cols--4, .ui_grid--spacing2 .ui_grid__cols--5, .ui_grid--spacing2 .ui_grid__cols--6, .ui_grid--spacing2 .ui_grid__cols--7, .ui_grid--spacing2 .ui_grid__cols--8, .ui_grid--spacing4 .ui_grid__cols, .ui_grid--spacing4 .ui_grid__cols--2, .ui_grid--spacing4 .ui_grid__cols--3, .ui_grid--spacing4 .ui_grid__cols--4, .ui_grid--spacing4 .ui_grid__cols--5, .ui_grid--spacing4 .ui_grid__cols--6, .ui_grid--spacing4 .ui_grid__cols--7, .ui_grid--spacing4 .ui_grid__cols--8, .ui_grid--spacing8 .ui_grid__cols, .ui_grid--spacing8 .ui_grid__cols--2, .ui_grid--spacing8 .ui_grid__cols--3, .ui_grid--spacing8 .ui_grid__cols--4, .ui_grid--spacing8 .ui_grid__cols--5, .ui_grid--spacing8 .ui_grid__cols--6, .ui_grid--spacing8 .ui_grid__cols--7, .ui_grid--spacing8 .ui_grid__cols--8, .ui_grid .ui_grid__cols, .ui_grid .ui_grid__cols--2, .ui_grid .ui_grid__cols--3, .ui_grid .ui_grid__cols--4, .ui_grid .ui_grid__cols--5, .ui_grid .ui_grid__cols--6, .ui_grid .ui_grid__cols--7, .ui_grid .ui_grid__cols--8 {
    margin-left: -16px;
    margin-top: -16px;
}

.ui_grid__cols, .ui_grid__cols--2, .ui_grid__cols--3, .ui_grid__cols--4, .ui_grid__cols--5, .ui_grid__cols--6, .ui_grid__cols--7, .ui_grid__cols--8 {
    height: 100%;
    overflow: hidden;
}

.ui_grid:after, .ui_grid__cols--1:after, .ui_grid__cols--2:after, .ui_grid__cols--3:after, .ui_grid__cols--4:after, .ui_grid__item:after {
    content: '';
    display: block;
    clear: both;
}

.ui_grid__cols--4>.ui_grid__item, .ui_grid__cols--4>.ui_grid__item--merge2, .ui_grid__cols--4>.ui_grid__item--merge3 {
    width: 25%;
}

.ui_grid__cols--2>.ui_grid__item>*, .ui_grid__cols--3>.ui_grid__item>*, .ui_grid__cols--4>.ui_grid__item--merge2>*, .ui_grid__cols--4>.ui_grid__item--merge3>*, .ui_grid__cols--4>.ui_grid__item>*, .ui_grid__cols--5>.ui_grid__item--merge2>*, .ui_grid__cols--5>.ui_grid__item--merge3>*, .ui_grid__cols--5>.ui_grid__item>*, .ui_grid__cols--6>.ui_grid__item>*, .ui_grid__cols--7>.ui_grid__item>*, .ui_grid__cols--8>.ui_grid__item>*, .ui_grid__cols>.ui_grid__item>* {
    display: block;
}

.ui_grid--spacing0 .ui_grid__cols--4>.ui_grid__item--merge2>*, .ui_grid--spacing0 .ui_grid__cols--4>.ui_grid__item--merge3>*, .ui_grid--spacing0 .ui_grid__cols--5>.ui_grid__item--merge2>*, .ui_grid--spacing0 .ui_grid__cols--5>.ui_grid__item--merge3>*, .ui_grid--spacing0 .ui_grid__item>*, .ui_grid--spacing2 .ui_grid__cols--4>.ui_grid__item--merge2>*, .ui_grid--spacing2 .ui_grid__cols--4>.ui_grid__item--merge3>*, .ui_grid--spacing2 .ui_grid__cols--5>.ui_grid__item--merge2>*, .ui_grid--spacing2 .ui_grid__cols--5>.ui_grid__item--merge3>*, .ui_grid--spacing2 .ui_grid__item>*, .ui_grid--spacing4 .ui_grid__cols--4>.ui_grid__item--merge2>*, .ui_grid--spacing4 .ui_grid__cols--4>.ui_grid__item--merge3>*, .ui_grid--spacing4 .ui_grid__cols--5>.ui_grid__item--merge2>*, .ui_grid--spacing4 .ui_grid__cols--5>.ui_grid__item--merge3>*, .ui_grid--spacing4 .ui_grid__item>*, .ui_grid--spacing8 .ui_grid__cols--4>.ui_grid__item--merge2>*, .ui_grid--spacing8 .ui_grid__cols--4>.ui_grid__item--merge3>*, .ui_grid--spacing8 .ui_grid__cols--5>.ui_grid__item--merge2>*, .ui_grid--spacing8 .ui_grid__cols--5>.ui_grid__item--merge3>*, .ui_grid--spacing8 .ui_grid__item>*, .ui_grid .ui_grid__cols--4>.ui_grid__item--merge2>*, .ui_grid .ui_grid__cols--4>.ui_grid__item--merge3>*, .ui_grid .ui_grid__cols--5>.ui_grid__item--merge2>*, .ui_grid .ui_grid__cols--5>.ui_grid__item--merge3>*, .ui_grid .ui_grid__item>* {
    margin-left: 16px;
    margin-top: 16px;
}

.ui_card--flex-orientation, .ui_card--white {
    background-color: hsla(0,0%,100%,0);
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}

.ui_card, .ui_card--flex-orientation, .ui_card--side, .ui_card--white {
    overflow: hidden;
    position: relative;
    display: inline-block;
    background: #f8f9fb;
    border-radius: 4px;
    /*border: 1px solid #d9d9d9;*/
    font-size: 12px;
    box-shadow: 0 1px 3px 0 hsl(0deg 0% 86% / 30%);
}

.ui_card__overlay--label {
    left: 0;
    right: auto;
    padding: 8px;
    border-radius: 2px;
    background: rgba(51,51,51,.8);
    color: #fff;
    font-weight: 700;
    left: 10px;
}

.ui_card__overlay, .ui_card__overlay--label, .ui_card__overlay--left {
    z-index: 80;
    position: absolute;
    /*right: 10px;*/
    top: 10px;
}

.ui_card--flex-orientation>*, .ui_card--side>*, .ui_card--white>*, .ui_card>* {
    text-align: left;
    box-sizing: border-box;
}

.ui_card__overlay--label, .ui_card__overlay--label--red {
    top: 6px;
    left: 6px;
    line-height: 1;
    background: #33333399;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ui_card--flex-orientation .ui_card__info, .ui_card--white .ui_card__info {
    height: auto;
}

.ui_card--white .ui_card__rating {
    height: 46px;
    display: block;
}

.ui_card--flex-orientation .ui_card__rating, .ui_card--white .ui_card__rating {
    border-top: 0;
    height: auto;
}

.ui_rating i[data-state=active] {
    color: #ffc801;
}

.ui_card__vcenter i {
    font-size: 15px;
    vertical-align: middle;
    line-height: 1.5;
    display: inline-block;
}

.idus-icon-star-fill:before {
    content: "\e968";
}

.ui-slide c-banner-mobile{
	width: 6200px;	
}

/* star image css */
.ui_icon--star[data-state='active'][data-v-ef94db98] {
    color: #ffc500 !important;
}

/* 인덱스 배너 */

.index-slider{
	postion:relative;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: auto auto 0 auto;
}

#slider ul {
  position: relative;
  display: flex;
  overflow: hidden;
  float:left;
  margin: 0;
  padding: 0;
  height: 480px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 480px;
  text-align: center;
}

.control-prev, .control-next{
	position:absolute;
}

.ui-control {
	position: absolute;
	top: 55%;
	z-index: 999;
	display: block;
	padding: 4% 3%;
	width: auto;
	height: auto;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	cursor: pointer;
}

.control-next{
	margin-left: 1300px;
	text-shadow: 0 1px 1px #444;
}

.control-prev{
	margin-left: 150px;
	text-shadow: 0 1px 1px #444;
}

.showroom-banner img{
	 margin-left: -150px; 
}