@import url(common.css);

[data-page=shoppingBag], [data-page=payment] {
    background: #fdfdfd;
}

.content {
    padding-bottom: 64px;
    background: #fff;
}

form {
    display: block;
    margin-top: 0em;
}

input {
    background: #fff;
}

a, button, [tabindex], .tab, input {
    -webkit-tap-highlight-color: transparent;
}

input[type="hidden" i] {
    display: none;
    appearance: none;
    background-color: initial;
    cursor: default;
    padding: initial;
    border: initial;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.inner-w800 {
    width: 800px;
}

.inner-w, .inner-w400, .inner-w800 {
    width: 1056px;
    margin: 0 auto;
    position: relative;
}

/* 상단 타이틀 */

.title-style, .title-style.bar {
    vertical-align: bottom;
    padding-bottom: 4px;
    margin-bottom: 32px;
    position: relative;
    padding-top: 40px;
    vertical-align: middle;
}

.title-style:after, .title-style.bar:after {
    content: '';
    display: block;
    clear: both;
}

.clf:after, [data-page=couponlist] .coupon-item-list:after, [data-page="video"] .section-video:after {
    content: '';
    display: block;
    clear: both;
}

.title-style .txt {
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
    color: #333;
}

.clf .fl, [data-page=couponlist] .coupon-item-list .fl, [data-page="video"] .section-video .fl {
    display: block;
    float: left;
}

.title-style>*, .title-style.bar>* {
    display: inline-block;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.clf .fr, [data-page=couponlist] .coupon-item-list .fr, [data-page="video"] .section-video .fr {
    display: block;
    float: right;
}

.page-location {
    font-size: 16px;
    font-weight: bold;
    color: #d9d9d9;
    margin-top: 4px;
}

ol, ul {
    list-style: none;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.page-location li:first-child {
    margin-left: 0;
}

.page-location li {
    display: inline-block;
    margin-left: 8px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.page-location .icon-num {
    display: inline-block;
    text-align: center;
    width: 16px;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
}

.page-location span {
    display: inline-block;
    vertical-align: middle;
}

.page-location i {
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
}

.title-style i, .title-style.bar i {
    font-size: 18px;
    margin-left: 8px;
}

.fa {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

i {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-location li {
    display: inline-block;
    margin-left: 8px;
}

.page-location li.active .icon-num {
    color: #333;
}

.page-location li.active span, .page-location li.active i {
    color: #333;
}

.page-location span {
    display: inline-block;
    vertical-align: middle;
}

.page-location li.active span, .page-location li.active i {
    color: #333;
}

/* 본문 */

.layout-split[data-layout-split=payment] {
    padding-top: 0;
    padding-bottom: 70px;
}

.layout-split {
    padding-top: 36px;
    position: relative;
}

.layout-split:after {
    content: '';
    display: block;
    clear: both;
}

/* 왼쪽 섹션 */
.layout-split[data-layout-split=payment]>*:first-child {
    margin-left: 0;
    width: 440px;
}

.layout-split[data-layout-split=payment]>* {
    margin-left: 23px;
    width: 337px;
}

.layout-split>*:first-child {
    margin-left: 0;
    width: 696px;
}

.layout-split>* {
    margin-left: 24px;
    width: 336px;
}

.layout-split>* {
    float: left;
}

.segment:first-child, .segment--nospacing:first-child {
    margin-top: 0;
}

.segment--nospacing {
    padding: 0;
}

.segment, .segment--nospacing {
    background: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgb(220 220 220 / 30%);
    -moz-box-shadow: 0 1px 3px 0 rgba(220,220,220,0.301961);
    box-shadow: 0 1px 3px 0 rgb(220 220 220 / 30%);
    margin-top: 10px;
    padding: 0 18px;
    -webkit-box-shadow: 3px 3px 4px 0 #eaeaea80;
    -moz-box-shadow: 3px 3px 4px 0 #eaeaea80;
    box-shadow: 3px 3px 4px 0 #eaeaea80;
    border: solid 1px #ebebeb;
}

[data-page=shoppingBag] .segment--nospacing .ui_title--sub, [data-page=payment] .segment--nospacing .ui_title--sub {
    padding: 20px 18px;
}

[data-ui=tabpanel] .tab[data-ui-id], [data-ui=toggle-tab] .tab[data-ui-id] {
    cursor: pointer;
}

[data-page=shoppingBag] .ui_title--sub, [data-page=payment] .ui_title--sub {
    padding: 20px 0;
    border-bottom: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.ui_title, .ui_title--bg, .ui_title--sub {
    box-sizing: border-box;
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-top: 40px;
    margin-bottom: 24px;
    padding-bottom: 4px;
    border-bottom: 1px solid #d9d9d9;
}

[data-page=shoppingBag] .ui_title--sub>*:first-child, [data-page=payment] .ui_title--sub>*:first-child {
    width: 25%;
}

.ui_title--sub .ui_title__txt {
    font-size: 16px;
}

.ui_title__txt {
    overflow: visible;
}

.ui_title--bg>*, .ui_title--sub>*, .ui_title>* {
    display: table-cell;
    vertical-align: middle;
}

.ui_title__txt {
    font-size: 24px;
    font-weight: 700;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 75%;
    color: #333;
    text-decoration: none;
}

[data-page=shoppingBag] .ui_title--sub>*:last-child, [data-page=payment] .ui_title--sub>*:last-child {
    font-size: 16px;
    font-weight: bold;
}

.ui_title--sub .ui_title__txtright, .ui_title--sub .ui_title__txtright--blue {
    font-size: 12px;
}

.user-info-header-right-text {
    color: #333 !important;
    font-size: 14px !important;
    font-weight: normal !important;
}

.ui_title__txtright--blue {
    color: #00aa9b;
}

.ui_title__txtright, .ui_title__txtright--blue {
    text-align: right;
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

[data-page=shoppingBag] .ui_title--sub>*:last-child i, [data-page=payment] .ui_title--sub>*:last-child i {
    margin-left: 10px;
    font-size: 12px;
    color: #666;
}

[data-page=shoppingBag] .segment--nospacing .payment-contents, [data-page=payment] .segment--nospacing .payment-contents {
    padding: 0 18px;
}

[data-ui=tab-panel] {
    /* display: none; */
}

table {
    table-layout: fixed;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

table>* {
    color: inherit;
    font-size: inherit;
}

colgroup {
    display: table-column-group;
}

col[Attributes Style] {
    width: 90px;
}

col {
    display: table-column;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.final-cost table .total th {
    font-size: 16px;
    color: #333;
}

.final-cost table .total th, .final-cost table .total td {
    border-top: 1px solid #d9d9d9;
    position: relative;
    vertical-align: middle;
    font-weight: bold;
    padding: 10px 0;
}

.final-cost table.spacing th {
    width: 35%;
}

.table-style-clear th, .table-style-clear td {
    text-align: left;
    color: #666;
    font-size: 12px;
    font-weight: normal;
    height: 40px;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

.table-style-clear td {
    color: #333;
}

.tab-style-btn {
    overflow: hidden;
}

.tab-style-btn .tab-style-btn-item:first-child button {
    border-left: 1px solid #d9d9d9;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 2px;
}

[data-page=payment] .tab-style-btn button {
    width: 33.33333%;
}

.tab-style-btn .tab-style-btn-item button {
    width: 90px;
    height: 32px;
    line-height: 32px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #acacac;
    border: 1px solid #d9d9d9;
    border-left: 0 none;
    display: block;
    float: left;
    font-size: 12px;
}

.btn.active {
    border: 1px solid #ff7b30 !important;
    color: #fff !important;
}

.btn-point, .btn.active {
    color: #fff;
    background: #ff7b30;
    border: 1px solid #ff7b30;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    line-height: 1.4;
}

button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

button {
    border: 0 none;
    background: transparent;
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.tab-style-btn+.address-info.root {
    margin-top: 10px;
}

.address-info.item {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.address-info.head {
    display: table-cell;
    width: 90px;
}

.asterisk.red {
    color: #ff4b50;
    font-size: 18px;
}

.asterisk {
    display: inline-block;
}

em {
    font-style: italic;
}

.address-info.head label {
    color: #666;
}

label {
    cursor: pointer;
}

.address-info.body {
    display: table-cell;
}

.address-info.body .input-text, .address-info.body .readonly-default[readonly] {
    width: 100%;
}

.input-text, .readonly-default[readonly] {
    display: inline-block;
    vertical-align: middle;
}

.input-text input, .readonly-default[readonly] input {
    background: #fff;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid #acacac;
    width: 100%;
    height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="text" i] {
    padding: 1px 2px;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.address-info.item+.item {
    margin: 10px 0 0;
}

.address-ui.root .address-zip-code {
    width: 100px;
}

.btn-white {
    color: #333;
    border: 1px solid #ccc;
    background: #fff;
}

.btn-m {
    height: 32px;
    padding: 15px 0;
    padding: 8px 15px;
    font-size: 12px;
    line-height: 14px;
}

.daum-post-layer{
    display: none;
    position: relative;
    width: auto;
    margin-top: 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow: auto;
}

.address-ui.row+.row {
    margin-top: 10px;
}

.address-ui.root .address-address {
    display: block;
    width: auto;
}

.address-info.body .input-text, .address-info.body .readonly-default[readonly] {
    width: 100%;
}

input[readonly] {
    border: 0;
}

.address-ui.root .address-address2 {
    display: block;
    width: auto;
}

[data-page=payment] .address-section .extra-row {
    padding: 16px 0 24px;
}

.bp[type=radio], .bp[type=checkbox] {
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    display: inline-block;
    position: relative;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

.bp[type="checkbox"]:checked::before {
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    content: "✔";
    color: rgb(255, 255, 255);
    font-family: idus-icon !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 123, 48);
    border-image: initial;
    background: rgb(255, 123, 48);
}

.bp[type=checkbox]:before {
    cursor: pointer;
    content: '';
    display: inline-block;
    line-height: 16px;
    width: 16px;
    height: 16px;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #acacac;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
}

.ui_title__txtright {
    font-size: 14px;
}

.hilight.blue {
    color: #00aa9b;
}

[data-page=shoppingBag] .ui_title__txtright .ellipsis, [data-page=payment] .ui_title__txtright .ellipsis {
    max-width: 220px;
}

[data-page=shoppingBag] .ui_title__txtright .ellipsis, [data-page=payment] .ui_title__txtright .ellipsis {
    display: inline-block;
    max-width: 170px;
    vertical-align: middle;
}

.ellipsis {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

[data-panel-id] {
    /* display: none; */
}

.cartCard:first-child, .paymentCard:first-child {
    margin-top: 0;
}

.cartCard, .paymentCard {
    border: 1px solid #eaeaea;
    -webkit-box-shadow: 3px 3px 4px 0 #eaeaea80;
    -moz-box-shadow: 3px 3px 4px 0 #eaeaea80;
    box-shadow: 3px 3px 4px 0 #eaeaea80;
    background: #fff;
    margin-top: 10px;
}

.hide, .hidden {
    display: none !important;
}

caption {
    display: table-caption;
    text-align: -webkit-center;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.cartCard th, .paymentCard th {
    background: #f5f5f5;
    text-align: left;
    padding: 12px 0;
}

input[type="hidden" i]:disabled {
    background-color: initial;
}

input:disabled {
    cursor: default;
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
    color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
    border-color: rgba(118, 118, 118, 0.3);
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

th {
    font-weight: bold;
    text-align: -internal-center;
}

.paymentCard td.flexible, .paymentCard th .txt-group, .paymentCard .area-img {
    padding-left: 18px;
}

.cartCard .txt-group, .paymentCard .txt-group {
    display: inline-block;
    vertical-align: middle;
    max-width: 85%;
}

.cartCard .txt-group .artist-name, .paymentCard .txt-group .artist-name {
    font-size: 14px;
    font-weight: normal;
    color: #333;
}

.cartCard .list-item td, .paymentCard .list-item td {
    border-bottom: 0 none;
}

.cartCard .area-img, .paymentCard .area-img {
    font-size: 0;
}

.cartCard td, .paymentCard td {
    vertical-align: top;
    padding-top: 8px;
    border-bottom: 1px solid #eaeaea;
}

.cartCard .area-img .img-bg, .cartCard .area-img .artist_card__img, .paymentCard .area-img .img-bg, .paymentCard .area-img .artist_card__img {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
}

[data-page=shoppingBag][data-page=payment] .img-bg, [data-page=shoppingBag][data-page=payment] .artist_card__img, [data-page=payment][data-page=payment] .img-bg, [data-page=payment][data-page=payment] .artist_card__img {
    margin-left: 0 !important;
}

.img-bg, .artist_card__img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cartCard .area-txt, .paymentCard .area-txt {
    vertical-align: middle;
    position: relative;
}

.paymentCard .list-item .txt-group {
    margin-left: -10px;
}

.cartCard .txt-group .bold, .paymentCard .txt-group .bold {
    font-weight: bold;
    font-size: 14px;
    color: #333;
    display: block;
    display: -webkit-box;
    height: 42px;
    font-size: 14px;
    line-height: 1.5;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: auto;
    max-height: 42px;
}

.cartCard td.flexible, .paymentCard td.flexible {
    border-top: 0 none;
    padding-right: 18px;
    padding-bottom: 8px;
    padding-left: 125px;
}

.cartCard .list-options, .paymentCard .list-options {
    margin-bottom: 8px;
}

.cartCard .list-options>*:first-child, .paymentCard .list-options>*:first-child {
    margin-top: 0;
}

.cartCard .list-options>*, .paymentCard .list-options>* {
    margin-top: 6px;
}

.cartCard td.flexible .table-layout, .paymentCard td.flexible .table-layout {
    display: table;
    width: 100%;
}

.cartCard td.flexible .table-layout>.split:first-child, .paymentCard td.flexible .table-layout>.split:first-child {
    width: 500px;
}

.paymentCard td.flexible .table-layout .split {
    vertical-align: top;
}

.cartCard td.flexible .table-layout>.split, .paymentCard td.flexible .table-layout>.split {
    display: table-cell;
    vertical-align: middle;
    width: 155px;
}

.cartCard td.flexible .table-layout>.split:first-child>*:last-child, .paymentCard td.flexible .table-layout>.split:first-child>*:last-child {
    margin-left: 5px;
}

.cartCard td.flexible .table-layout>.split>*, .paymentCard td.flexible .table-layout>.split>* {
    display: inline-block;
    vertical-align: middle;
}

.cartCard .list-options .option-txt, .paymentCard .list-options .option-txt {
    font-size: 12px;
    color: #666;
    width: 75%;
    min-height: 18px;
}

.paymentCard .option-txt {
    margin-left: 0 !important;
    width: auto !important;
}

ul {
    list-style-type: disc;
}

.item-option-list {
    list-style: disc !important;
    padding-left: 16px;
}

ul ul {
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

li {
    text-align: -webkit-match-parent;
}

.cartCard td.flexible .table-layout .prd-count, .paymentCard td.flexible .table-layout .prd-count {
    text-align: center;
    display: inline-block;
    height: 100%;
}

.paymentCard .prd-count {
    min-width: 10px;
    max-width: 30px;
}

input[type='number'] {
    background: #fff;
    width: 40px;
    -moz-appearance: textfield;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="number" i] {
    padding: 1px 2px;
}

.cartCard td.flexible .table-layout>.split:last-child, .paymentCard td.flexible .table-layout>.split:last-child {
    text-align: right;
    position: relative;
}

.paymentCard td.flexible .table-layout .split .cost-text, .paymentCard td.flexible .table-layout .split strong {
    font-weight: normal;
}

strong {
    font-weight: bold;
}

.cartCard .list-options .cost-text, .paymentCard .list-options .cost-text {
    font-size: 12px;
    color: #333;
    font-weight: normal;
}

style attribute {
    color: #333;
}

.ui_field--onchange {
    position: relative;
    width: 100%;
    height: 80px;
    overflow: hidden;
}

.ui_field, .ui_field--boxed, .ui_field--onchange {
    display: inline-block;
    font-size: 14px;
    position: relative;
}

.cartCard td .ui_field__txtarea, .cartCard td .ui_field__txtarea--full, .paymentCard td .ui_field__txtarea, .paymentCard td .ui_field__txtarea--full {
    height: -webkit-calc(100% - 1px);
    height: -moz-calc(100% - 1px);
    height: calc(100% - 1px);
}

.ui_field--onchange .ui_field__txtarea {
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    transition: width,.3s,ease;
}

.ui_field--boxed>*, .ui_field--onchange>*, .ui_field>* {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: inherit;
}

.ui_field--onchange .ui_field__txtarea textarea[maxlength], .ui_field--onchange .ui_field__txtarea--full textarea[maxlength] {
    margin-right: 30px;
}

.paymentCard .ui_field__txtarea textarea:read-only, .paymentCard .ui_field__txtarea--full textarea:read-only {
    border: 1px solid #b4b4b4;
    opacity: 0.6;
    background: #f5f5f5;
    color: #acacac;
}

.ui_field--onchange .ui_field__txtarea textarea[maxlength] {
    padding-right: 30px;
}

.ui_field--onchange .ui_field__txtarea textarea, .ui_field--onchange .ui_field__txtarea--full textarea {
    padding: 12px;
    line-height: 1.33;
}

.ui_field--onchange .ui_field__txtarea textarea {
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 3px 0 hsl(0deg 0% 86% / 30%);
    border-radius: 2px;
    line-height: 1.5;
}

.ui_field__txtarea textarea, .ui_field__txtarea--full textarea {
    -webkit-appearance: none;
    overflow: auto;
}

.ui_field--autoresize, .ui_field--onchange textarea {
    transition: all,.3s,cubic-bezier(.075,.82,.165,1);
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #b4b4b4;
    vertical-align: middle;
    resize: none;
    padding: 4px 12px;
    line-height: 22px;
    text-indent: 0;
    font-size: 12px;
}

textarea {
    -webkit-writing-mode: horizontal-tb !important;
    font-family: monospace;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    column-count: initial !important;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
}

.ui_field--onchange .ui_field__chars {
    right: 8px !important;
    bottom: 4px;
}

.ui_field__txtarea .ui_field__chars, .ui_field__txtarea--full .ui_field__chars {
    right: 20px;
}

.ui_field--onchange .ui_field__chars {
    position: absolute;
    bottom: 10px;
    right: 8px;
    font-size: 12px;
    color: #999;
    font-style: normal;
}

.cartCard tr.static-row th, .paymentCard tr.static-row th {
    background: none;
    border-top: 1px solid #eaeaea;
    text-align: left;
    text-indent: 18px;
}

.paymentCard .static-row th {
    width: 150px;
}

.cartCard tr.static-row>*, .paymentCard tr.static-row>* {
    font-size: 13px;
    vertical-align: middle;
    padding: 18px 0;
    color: #666;
}

.cartCard tr.static-row td:last-child, .paymentCard tr.static-row td:last-child {
    padding-right: 18px;
}

.cartCard tr.static-row td, .paymentCard tr.static-row td {
    text-align: right;
    font-weight: bold;
    color: #333;
}

.cartCard tr.static-row td [data-freeship] input:read-only, .cartCard tr.static-row td [data-freeship] input:disabled, .paymentCard tr.static-row td [data-freeship] input:read-only, .paymentCard tr.static-row td [data-freeship] input:disabled {
    -webkit-text-fill-color: #333;
}

.cartCard tr.static-row td [data-freeship] input, .paymentCard tr.static-row td [data-freeship] input {
    text-align: right;
    opacity: 1;
    color: #333 !important;
    max-width: 80px;
}

.cartCard tr.static-row td>input, .paymentCard tr.static-row td>input {
    display: none;
}

.cartCard tr:last-child td, .paymentCard tr:last-child td {
    border-bottom: 0 none;
}

.cartCard .coupon-fieldset, .paymentCard .coupon-fieldset {
    display: inline-block;
    margin-right: 4px;
}

fieldset {
    border: 0 none;
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threed face;
    border-image: initial;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.hilight.red {
    color: #ff7b30 !important;
}

[data-page=shoppingBag] .segment .list-style, [data-page=shoppingBag] .segment--nospacing .list-style, [data-page=payment] .segment .list-style, [data-page=payment] .segment--nospacing .list-style {
    color: #666;
    font-size: 12px;
    padding-bottom: 20px;
}

.list-style {
    color: #999;
    font-size: 12px;
}

.field-group .field:last-child {
    padding-bottom: 26px;
}

.field-group .field:first-child {
    margin-top: 0;
}

.field-group .field.no-spacing {
    margin-top: 0;
    padding-top: 0;
}

[data-ui=discount-display] .field {
    margin: 0;
    padding-bottom: 26px;
}

.field-group .field {
    margin-top: 26px;
    display: block;
    width: 100%;
}

.field-group .field .block-label, .field-group .field .inline-label {
    padding-bottom: 8px;
    display: block;
    font-size: 13px;
    width: 100%;
    color: #666;
    font-weight: bold;
}

.field-group .field .input-group {
    position: relative;
    height: 32px;
    width: 100%;
}

.field-group .field .input-group>*:first-child {
    left: 0;
    right: 78px;
    width: auto !important;
}

.field-group .field .input-group>* {
    position: absolute;
    height: 100%;
}

.field-group .field .input-style-text {
    display: block;
    width: 100%;
    background: #f5f5f5;
    border: 1px solid #acacac;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ff7b30;
    font-weight: bold;
    line-height: 30px;
    font-size: 13px;
    text-indent: 10px;
}

.field-group .field .input-group>* {
    position: absolute;
    height: 100%;
}

.field-group .field .input-group>*:last-child {
    width: 76px;
    right: 0;
    padding: 0;
}

.field-group .field .input-group>* {
    position: absolute;
    height: 100%;
}

.ui_btn--redline {
    font-size: 12px;
    padding: 0 16px;
    line-height: 30px;
    border-color: #ff7b30;
    background: #fff;
    color: #ff7b30;
}

.ui_btn, .ui_btn--large, .ui_btn--mini, .ui_btn--red, .ui_btn--red--large, .ui_btn--red--mini, .ui_btn--red--small, .ui_btn--redline, .ui_btn--redline--large, .ui_btn--redline--mini, .ui_btn--redline--small, .ui_btn--small, .ui_field--onchange .ui_field__btn {
    box-shadow: 0 1px 3px 0 hsl(0deg 0% 86% / 30%);
    font-weight: 400;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #d9d9d9;
    vertical-align: middle;
    transition: background-color .2s cubic-bezier(.075,.82,.165,1);
    transition: border-color .2s cubic-bezier(.075,.82,.165,1);
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

/* 결제 수단 */
.radiogroup>.radio-item {
    margin: 0;
    display: block;
    width: 100%;
    margin-left: 0;
    padding: 22px 0;
    border-bottom: 1px solid #d9d9d9;
    font-size: 13px;
    color: #333;
}

.payment-radio-item-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.idus-icon-radio[type=radio] {
    position: relative;
    font-size: 16px;
    width: 13px;
    height: 10px;
    margin: 0;
    background: #fff;
    vertical-align: middle;
}

.payment-radio-item-wrapper>input {
    margin-right: 7px !important;
}

input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
}

.idus-icon-radio[type="radio"]::before {
    cursor: pointer;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: -3px;
    margin-top: -7px;
    color: rgb(153, 153, 153);
    background: inherit;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 50%;
}

.radiogroup>.radio-item .img_label {
    display: inline-block;
    vertical-align: middle;
}

.radiogroup>.radio-item .img_label img {
    display: inline-block;
    vertical-align: middle;
    height: 22px;
    width: auto;
}

/* 우측 섹션 */
[data-page=payment] .ui_sticky[data-state=active] {
    top: 69px;
    width: 337px;
}

[data-page=payment] .final-cost {
    margin-bottom: 30px;
}

.ui_sticky[data-state=active] {
    position: fixed;
}

.final-cost {
    border: 2px solid #333;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
}

.ui_sticky {
    position: relative;
}

.final-cost .table-header {
    border-bottom: 1px solid #333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #333;
    padding: 15px 0 14px;
    width: 288px;
    margin: 0 auto;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.final-cost .segment, .final-cost .segment--nospacing {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0 none;
}

.final-cost .segment, .final-cost .segment--nospacing {
    margin-top: 0;
}

.final-cost .segment table:first-child, .final-cost .segment--nospacing table:first-child {
    margin-top: 12px;
    margin-bottom: 12px;
}

.final-cost table {
    width: 288px;
    margin: 0 auto;
    table-layout: fixed;
}

table {
    table-layout: fixed;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.final-cost table th {
    color: #666;
    font-size: 13px;
    width: 60%;
}

.final-cost table th, .final-cost table td {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    text-align: left;
    padding: 4px 0;
}

.final-cost table td {
    text-align: right;
    width: 40%;
}

.final-cost table td span {
    font-size: 14px;
}

.final-cost table {
    width: 288px;
    margin: 0 auto;
    table-layout: fixed;
}

.final-cost table .total td {
    font-size: 18px;
    vertical-align: middle;
}

.final-cost table.spacing td {
    width: auto;
}

[data-page=payment] .total td {
    font-size: 24px;
    color: #333;
}

.final-cost table .total td>* {
    display: inline-block;
    vertical-align: middle;
}

.final-cost table [data-payment=total] {
    color: #333;
    font-size: 24px;
    letter-spacing: -0.02em;
}

.final-cost table .total td em {
    margin-left: 2px;
}

.final-cost table.spacing th {
    width: 35%;
}

.final-cost .bg-style--warning {
    color: #333;
}

.final-cost table th label, .final-cost table td label {
    font-size: 14px;
}

.bg-style--warning {
    border: none;
    background: #faece5;
}

.bg-style, .bg-style--warning {
    padding: 8px;
    border: 1px solid #efefef;
    background: #faece5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    display: inline-block;
}

.final-cost .bg-style--warning input {
    margin-right: 5px;
}

.final-cost table th input, .final-cost table td input {
    font-size: 14px;
    text-align: right;
}

.bp[type=checkbox]:before {
    cursor: pointer;
    content: '';
    display: inline-block;
    line-height: 16px;
    width: 16px;
    height: 16px;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #acacac;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
}

.final-cost .segment-group {
    padding: 0 22px 24px;
}

.final-cost .segment-group .segment--nospacing:first-child {
    border-top: 0 none;
}

.final-cost .segment-group .segment--nospacing {
    margin-top: 0;
    padding: 0;
    border: 0 none;
    border-top: 1px solid #d9d9d9;
}

.final-cost .ui_title--sub:first-child {
    border-top: 0 none;
}

[data-ui=tabpanel] .tab[data-ui-id="info_personal1"], [data-ui=toggle-tab] .tab[data-ui-id="info_personal1"] {
    padding: 16px 0 !important;
    color: #333;
}

.final-cost .ui_title--sub {
    padding: 16px 0;
    border-top: 1px solid #d9d9d9;
}

.final-cost .ui_title--sub>*:first-child {
    font-size: 14px;
    width: 75%;
}

.final-cost .ui_title--sub>*:last-child {
    font-size: 14px;
}

.checkout-toggle-btn {
    color: #666 !important;
    font-size: 12px !important;
    font-weight: normal !important;
    text-align: right !important;
}

.checkout-toggle-btn>.btn_icon {
    margin-left: 4px !important;
}

.final-cost .scroll-txt {
    padding: 12px;
    color: #acacac;
    background: #f5f5f5;
}

.final-cost .segment-group .segment--nospacing:last-child {
    border-top: 0;
}

.final-cost .segment-group .segment--nospacing {
    margin-top: 0;
    padding: 0;
    border: 0 none;
    border-top: 1px solid #d9d9d9;
}

.final-cost .segment, .final-cost .segment--nospacing {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0 none;
}

.final-cost .ui_btn--red--large {
    margin-top: 16px;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: normal;
    padding: 10px 0;
    height: 62px;
    background: #ff7b30;
}

.ui_btn--red--large {
    font-size: 16px;
    padding: 0 24px;
    line-height: 46px;
    border-color: transparent;
    background: #ff7b30;
    color: #fff;
}

.final-cost .ui_btn--red--large span {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
}

.final-cost .ui_btn--red--large .point {
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 1.5;
    display: none;
}

.ui_btn--large>*, .ui_btn--mini>*, .ui_btn--red--large>*, .ui_btn--red--mini>*, .ui_btn--red--small>*, .ui_btn--red>*, .ui_btn--redline--large>*, .ui_btn--redline--mini>*, .ui_btn--redline--small>*, .ui_btn--redline>*, .ui_btn--small>*, .ui_btn>*, .ui_field--onchange .ui_field__btn>* {
    display: inline-block;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
}

/* 모달 */

[data-modal-id=coupon-list].root {
    z-index: 160;
}

.modal.root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 110;
}

.modal.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000033;
    z-index: 120;
}

[data-modal-id=coupon-list] .modal.wrap {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

[data-modal-id=coupon-list] .modal.modal-m {
    width: 376px;
}

[data-modal-id=coupon-list] .modal.wrap {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    margin-left: -188px;
    margin-top: -280px;
}

.modal.wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 130;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.modal.modal-m {
    width: 480px;
}

form {
    display: block;
    margin-top: 0em;
}

[data-modal-id=coupon-list] .modal.head {
    border-bottom-width: 1px;
    margin: 20px 6px 0;
}

.modal.head {
    margin: 20px 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #555555;
}

[data-modal-id=coupon-list] .modal.head h1 {
    text-align: center;
    font-size: 16px;
}

.modal.head h1 {
    font-size: 18px;
}

.modal.close {
    color: #333;
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
}

.modal.close:after {
    content: '\2715';
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
}

[data-modal-id=coupon-list] .radiogroup {
    height: 441px;
    overflow-y: scroll;
}

[data-modal-id=coupon-list] .btngroup {
    padding: 16px 0;
    text-align: center;
}

[data-modal-id=coupon-list] .btngroup .ui_btn {
    min-width: 78px;
}

.ui_btn, .ui_field--onchange .ui_field__btn {
    font-size: 12px;
    padding: 0 16px;
    line-height: 30px;
}

.ui_btn--red {
    font-size: 12px;
    padding: 0 16px;
    line-height: 30px;
    border-color: transparent;
    background: #ff7b30;
    color: #fff;
}

.to-top {
    /* display: none; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    left: -webkit-calc(50% + 558px);
    left: -moz-calc(50% + 558px);
    left: calc(50% + 558px);
    z-index: 150;
    width: 56px;
    height: 56px;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #fff;
    bottom: 62px;
}

.to-top img {
    width: 36px;
    height: 36px;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}