.wrap {
	margin-top: 100px;	
}

.signupText {
	color: #e28e11fc;
}

.info {
	display: flex;
    justify-content: center;
}

.headerLogo {
	width: 300px;
}

.info_text {
	color: #999;
}

.coupon_info {
	font-size: 18px;
	margin-top: 30px;
}

.coupon_image {
	width: 500px;
}

.select_btn {
	margin-top: 40px;
}

.index_btn {
	margin: 10px;
	width: 250px;
    height: 35px;
    border-color: transparent;
    background: #ff7b30;
    color: #fff;
    border-radius:4px;
    cursor:pointer;
    text-align:center;
    font-size:16px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.login_btn {
	margin: 10px;
	width: 250px;
    height: 35px;
    border-color: transparent;
    background: #ff7b30;
    color: #fff;
    border-radius:4px;
    cursor:pointer;
    text-align:center;
    font-size:16px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

