.story-list[data-v-5ea8b349] {
    margin-top: -16px;
}

.story-card[data-v-52776193] {
    padding: 24px 18px !important;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    list-style: none;
    width: 100%;
    margin-top: 16px;
}

.story-card__header[data-v-52776193] {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.story-card__header .story-card-info[data-v-52776193] {
    display: flex;
    align-items: center;
}

.story-card__header .artist-thumbnail[data-v-52776193] {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.story-card__header .artist-thumbnail img[data-v-52776193] {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.story-card__header .artist-info[data-v-52776193] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.story-card__header .artist-info .artist-name[data-v-52776193] {
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    padding-bottom: 4px;
}

.story-card__header .artist-info .story-date[data-v-52776193] {
    font-size: 10px;
    line-height: 1;
    color: #999999;
}

button.follow[data-v-b534333e] {
    border: 1px solid #ff7b30;
}

button[data-v-b534333e] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    line-height: 1.5;
}

button i[data-v-b534333e] {
    margin-right: 4px;
}

.story-card__body[data-v-52776193] {
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}

.image-group[data-v-2ce2581b] {
    display: flex;
    margin-top: 16px;
}